*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 21, 31);
  color: whitesmoke;
}

#root {
  padding: 20px 60px;
}

.app-container {
  background-color: rgb(17, 13, 19);
  width: 360px;
  overflow: hidden;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 24px;
}
